<div class="sidebar">
    <ul>
        <li style="cursor: pointer;" routerLink="/">
            <i class="pi pi-chart-pie fs-5"></i> Categoría A
        </li>
        <li style="cursor: pointer;" routerLink="/estimates">
            <i class="pi pi-calendar-clock fs-5" ></i>  Categoría B
        </li>

        <li style="cursor: pointer;" routerLink="/settings">
            <i class="pi pi-wrench fs-5"></i>  Categoría C
        </li>
    </ul>

    <!-- <li style="cursor: pointer;" routerLink="/settings" (click)="logout()">
        <i class="bi bi-box-arrow-right fs-5" title="Salir"></i>
    </li> -->
</div>
